<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BabbleMouth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--PLAYERS-->
    <add key="Elretardo" value ="DEATH_KNIGHT" />
    <add key="Grazdak" value ="DEATH_KNIGHT" />
    <add key="Rhowr" value ="DEATH_KNIGHT" />
    <add key="Aerivore" value ="DRUID" />
    <add key="Drowzen" value ="DRUID" />
    <add key="Infinitum" value ="DRUID" />
    <add key="Olducu" value ="DRUID" />
    <add key="Snowzz" value ="HUNTER" />
    <add key="Drcool" value ="MONK" />
    <add key="Oneton" value ="MONK" />
    <add key="Tripel" value ="MONK" />
    <add key="Ishvara" value ="PALADIN" />
    <add key="Kurt" value ="PALADIN" />
    <add key="Vowels" value ="PALADIN" />
    <add key="Aydin" value ="PRIEST" />
    <add key="Crafty" value ="PRIEST" />
    <add key="Holyspastic" value ="PRIEST" />
    <add key="Medmal" value ="PRIEST" />
    <add key="Galatapus" value ="ROGUE" />
    <add key="Hellmacka" value ="ROGUE" />
    <add key="Neatpete" value ="ROGUE" />
    <add key="Alu" value ="SHAMAN" />
    <add key="Elebelly" value ="SHAMAN" />
    <add key="Fiedler" value ="SHAMAN" />
    <add key="Gobuchul" value ="WARLOCK" />
    <add key="Hugginz" value ="WARLOCK" />
    <add key="Vhalice" value ="WARLOCK" />
    <add key="Dailyloving" value ="WARRIOR" />
    <add key="Raigon" value ="WARRIOR" />
    <!--SPELLS-->
    <!--Death Knight-->
    <add key="Anti-Magic Shell" value ="SPELL" />
    <add key="Icebound Fortitude" value ="SPELL" />
    <add key="Death Coil" value ="SPELL" />
    <add key="Vampiric Blood" value ="SPELL" />
    <add key="Dancing Rune Weapon" value ="SPELL" />
    <add key="Bone Shield" value ="SPELL" />
    <add key="Rune Tap" value ="SPELL" />
    <add key="Anti-Magic Zone" value ="SPELL" />
    <add key="Purgatory" value ="SPELL" />
    <add key="Lichborne" value ="SPELL" />
    <add key="Death Siphon" value ="SPELL" />
    <add key="Conversion" value ="SPELL" />
    <add key="Death Pact" value ="SPELL" />
    <!--Druid-->
    <add key="Symbiosis" value ="SPELL" />
    <add key="Heart of the Wild" value ="SPELL" />
    <add key="Nature's Swiftness" value ="SPELL" />
    <add key="Innervate" value ="SPELL" />
    <add key="Might of Ursoc" value ="SPELL" />
    <add key="Barkskin" value ="SPELL" />
    <add key="Tranquility" value ="SPELL" />
    <add key="Stampeding Roar" value ="SPELL" />
    <add key="Hibernate" value ="SPELL" />
    <add key="Cyclone" value ="SPELL" />
    <add key="Entangling Roots" value ="SPELL" />
    <add key="Ironbark" value ="SPELL" />
    <add key="Survival Instincts" value ="SPELL" />
    <add key="Skull Bash" value ="SPELL" />
    <!--Hunter-->
    <add key="Hunter's Mark" value ="SPELL" />
    <add key="Deterrence" value ="SPELL" />
    <add key="Concussive Shot" value ="SPELL" />
    <add key="Freezing Trap" value ="SPELL" />
    <add key="Widow Venom" value ="SPELL" />
    <add key="Ice Trap" value ="SPELL" />
    <add key="Master's Call" value ="SPELL" />
    <add key="Misdirection" value ="SPELL" />
    <add key="Concussive Barrage" value ="SPELL" />
    <add key="Entrapment" value ="SPELL" />
    <add key="Intimidation" value ="SPELL" />
    <!--Mage-->
    <add key="Timewarp" value ="SPELL" />
    <add key="Cauterize" value ="SPELL" />
    <add key="Ice Block" value ="SPELL" />
    <add key="Cold Snap" value ="SPELL" />
    <add key="Alter Time" value ="SPELL" />
    <!--Monk-->
    <add key="Revival" value ="SPELL" />
    <add key="Zen Meditation" value ="SPELL" />
    <add key="Avert Harm" value ="SPELL" />
    <add key="Life Cocoon" value ="SPELL" />
    <add key="Fortifying Brew" value ="SPELL" />
    <add key="Diffuse Magic" value ="SPELL" />
    <add key="Dampen Harm" value ="SPELL" />
    <add key="Chi Wave" value ="SPELL" />
    <add key="Chi Burst" value ="SPELL" />
    <add key="Zen Sphere" value ="SPELL" />
    <add key="Roll" value ="SPELL" />
    <add key="Chi Torpedo" value ="SPELL" />
    <!--Paladin-->
    <add key="Devotion Aura" value ="SPELL" />
    <add key="Hand of Sacrifice" value ="SPELL" />
    <add key="Divine Protection" value ="SPELL" />
    <add key="Divine Shield" value ="SPELL" />
    <add key="Hand of Protection" value ="SPELL" />
    <add key="Hand of Freedom" value ="SPELL" />
    <add key="Hand of Purity" value ="SPELL" />
    <add key="Lay on Hands" value ="SPELL" />
    <!--Priest-->
    <add key="Vampiric Embrace" value ="SPELL" />
    <add key="Void Shift" value ="SPELL" />
    <add key="Spirit Shell" value ="SPELL" />
    <add key="Power Word: Barrier" value ="SPELL" />
    <add key="Pain Suppression" value ="SPELL" />
    <add key="Hymn of Hope" value ="SPELL" />
    <add key="Power Infusion" value ="SPELL" />
    <add key="Guardian Spirit" value ="SPELL" />
    <add key="Divine Hymn" value ="SPELL" />
    <add key="Dispersion" value ="SPELL" />
    <add key="Desperate Prayer" value ="SPELL" />
    <!--Rogue-->
    <add key="Sinister Strike" value ="SPELL" />
    <add key="Sinister Strike" value ="SPELL" />
    <add key="Sinister Strike" value ="SPELL" />
    <add key="Sinister Strike" value ="SPELL" />
    <!--Shaman-->
    <add key="Astral Shift" value ="SPELL" />
    <add key="Wind Shear" value ="SPELL" />
    <add key="Stormlash Totem" value ="SPELL" />
    <add key="Bloodlust" value ="SPELL" />
    <add key="Ancestral Guidance" value ="SPELL" />
    <add key="Healing Tide Totem" value ="SPELL" />
    <add key="Call of the Elements" value ="SPELL" />
    <add key="Mana Tide Totem" value ="SPELL" />
    <add key="Spirit Link Totem" value ="SPELL" />
    <add key="WindWalk Totem" value ="SPELL" />
    <add key="Stone Bulwark Toten" value ="SPELL" />
    <add key="Ascendance" value ="SPELL" />
    <add key="Elemental Mastery" value ="SPELL" />
    <add key="Ancestral Swiftness" value ="SPELL" />
    <!--Warlock-->
    <add key="Unending Resolve" value ="SPELL" />
    <add key="Twilight Ward" value ="SPELL" />
    <add key="Dark Regeneration" value ="SPELL" />
    <add key="Shadow Bulwark" value ="SPELL" />
    <add key="Mortal Coil" value ="SPELL" />
    <add key="Dark Bargain" value ="SPELL" />
    <!--Warrior-->
    <add key="Shield Wall" value ="SPELL" />
    <add key="Demoralizing Shout" value ="SPELL" />
    <add key="Die by the Sword" value ="SPELL" />
    <add key="Intervene" value ="SPELL" />
    <add key="Last Stand" value ="SPELL" />
    <add key="Enraged Regeneration" value ="SPELL" />
    <add key="Second Wind" value ="SPELL" />
    <add key="Impending Victory" value ="SPELL" />
    <add key="Rallying Cry" value ="SPELL" />
    <add key="Demoralizing Banner" value ="SPELL" />
    <add key="Mocking Banner" value ="SPELL" />
    <add key="Skull Banner" value ="SPELL" />
    <add key="Vigilance" value ="SPELL" />
    <add key="Safeguard" value ="SPELL" />
    <add key="Mass Spell reflection" value ="SPELL" />
    <add key="Staggering Shout" value ="SPELL" />
    <add key="Piercing Howl" value ="SPELL" />
    <add key="Silencing Shout" value ="SPELL" />
    <add key="Dragon Roar" value ="SPELL" />
    <add key="Shockwave" value ="SPELL" />
    <!--Unsorted-->
    <add key="Potion of Focus" value ="SPELL" />
    <add key="Virmen's Bite" value ="SPELL" />
    <add key="Potion of the Jade Serpent" value ="SPELL" />
    <add key="Potion of Mogu Power" value ="SPELL" />
    <add key="Healthstone" value ="SPELL" />
  </appSettings>
</configuration>